package components

import ()

templ Index(body templ.Component) {
<!DOCTYPE html>
<html lang="en">
@Head()

<body class={ Base() }>
    @Header()
    <div class={ Wrapper() }>
        <div class={ Main() }>
            @body
        </div>
    </div>
    @Footer()
</body>

</html>
}
