package components

import "github.com/mattbr0wn/website/config"

import ()

templ Index(headData config.HeadData, body templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@Head(headData)
		<body class={ Base() }>
			@Header()
			<div class={ Wrapper() }>
				<div class={ Main() }>
					@body
				</div>
				@Footer(headData.Author)
			</div>
		</body>
	</html>
}
